<div class="container">
  <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

  <div class="row" *ngFor="let user of users">
    <!--Suggested users-->
    <div class="col-md-6" *ngIf="searchMatch(user)"><a class=" username" href="/user-profile/{{user.username}}">
        @{{user.username}}</a>
      <br>
      {{user.bio}}
      <hr />
    </div>
    <div class="col-md-6" *ngIf="param=='suggested' && searchMatch(user)"><button class="btn float-right"
        (click)="follow(user.username)">Follow</button>
      <br>
      <hr />
    </div>
    <!--My followers-->
    <div class="col-md-6" *ngIf="param=='followers' && myProfile() && searchMatch(user)"><button class="btn"
        (click)="deleteFromMyFollowers(user.username)">Delete</button>
    </div>
    <!--My following-->
    <div class="col-md-6" *ngIf="param=='following' && myProfile() && searchMatch(user)"><button class="btn"
        (click)="unfollow(user.username)">Unfollow</button>
    </div>
    <!--Someone else followers or following that i DO NOT follow-->
    <div class="col-md-6"
      *ngIf="(param=='following' || param=='following') && !myProfile() && !user.followedByCurrentUser && user.username!=getCurrentUser() && searchMatch(user)">
      <button class="btn" (click)="follow(user.username)">Follow</button>
    </div>
    <!--Someone else followers or following i follow-->
    <div class="col-md-6"
      *ngIf="(param=='following' || param=='following') && !myProfile() && user.followedByCurrentUser && searchMatch(user)">
      <button class="btn" (click)="unfollow(user.username)">Unfollow</button>
    </div>
  </div>
