header{
    border-radius: 1px solid;
}
.icon-svg{
    height: 80px;
    padding: 8px 8px 8px 0;
    width: 74px;
}

.text{        
    font-weight: 700;
    height: 50px;
    width: 50px;
    color: #1C9E5D;  
}
.logo{
    text-decoration: none;
}



.login, .signup{    
    background-color: transparent;
    border-color: #1C9E5D;
    color: #1C9E5D;
    fill: #1C9E5D;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;  
}
.signup{
    background-color: #1C9E5D;
    border-color: #1C9E5D;
    color: aliceblue;
}

.signup:hover{
    opacity: 0.6;
}