<div class="container">
  <div class="row">
    <hr />
    <div class="col-md-9">
      <div class="row post">
        <div class="col-md-1 reaction">
          <app-reaction [post]="post"></app-reaction>
        </div>
        <div class="col-md-10">
          <div>
            <span>
              <span class="topic-text"><a class="post-url" href="">{{post.topicName}}</a></span>
              <span> . Posted
                <span> {{post.duration}} </span>
                by
                <a *ngIf="post.userName === null" class="username" href="">Anonymous</a>
                <a *ngIf="post.userName != null" class="username" href="">{{post.userName}}</a>
              </span>
            </span>
            <button *ngIf=postOwnedByLoggedUser class="float-right deletePost" (click)="deletePost()">
              Delete Post
            </button>
          </div>
          <hr />
          <a class=" post-title">{{post.title}}</a>
          <div>
            <p class="post-text" [innerHtml]="post.content"></p>
          </div>
          <div class="post-comment">
            <form [formGroup]="commentForm" (ngSubmit)="postComment()">
              <div class="form-group">
                <textarea class="form-control" [formControlName]="'text'" placeholder="Your Thoughts?"></textarea>
              </div>
              <button type="submit" class="btnComment float-right">Comment</button>
            </form>
          </div>
          <div style="margin-top: 60px;" *ngFor="let comment of comments">
            <div class="comment">
              <div class="username">
                <a routerLink="/user-profile/{{comment.username}}">{{comment.username}}</a>
              </div>
              <div>
                <p>{{comment.duration}}</p>
              </div>
              <b>{{comment.text}}</b>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-side></app-side>
      <app-topic-side></app-topic-side>
    </div>
  </div>
</div>
