.btn {
  fill: #1C9E5D;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 10px;
  opacity: 1;
  background-color: #1C9E5D;
  border-color: #1C9E5D;
  color: aliceblue;
}