<!--<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <fa-icon class="account-icon fa-thin fa-3x" [icon]="faUser"></fa-icon>
    </div>
    <div class="col-md-3 "><a class="username ">@{{username}}</a></div>
    <div class="col-md-3"></div>
  </div>
  <form [formGroup]="changeProfileForm" (ngSubmit)="updateProfile()">
    <div class="form-group">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <div class=""><a class="name">Username:</a></div>
        </div>
        <div class="col-md-3"><input type="text" [formControlName]="'name'" class="form-control" style="margin-top: 5px"
            placeholder="Name"></div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <div class=""><a class="name">Bio:</a></div>
        </div>
        <div class="col-md-3"><input type="text" [formControlName]="'bio'" class="form-control" style="margin-top: 5px"
            placeholder="Bio"></div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <div class=""><a class="name">Email:</a></div>
        </div>
        <div class="col-md-3"><input type="text" [formControlName]="'email'" class="form-control"
            style="margin-top: 5px" placeholder="Email"></div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </form>
</div>-->

<div class="change-profile-section">
  <div class="row justify-content-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <fa-icon class="account-icon fa-thin fa-3x" [icon]="faUser"></fa-icon>
          <h4>@{{username}}</h4>

        </div>
        <div class="card-body">
          <form [formGroup]="changeProfileForm" (ngSubmit)="updateProfile()">
            <div class="form-group row">
              <label for="user_name" class="col-md-4 col-form-label text-md-right">Username:</label>
              <div class="col-md-6">
                <input type="text" id="user_name" class="form-control" [formControlName]="'username'" name="user_name"
                  required autofocus>
              </div>
            </div>

            <div class="form-group row">
              <label for="password" class="col-md-4 col-form-label text-md-right">Bio:</label>
              <div class="col-md-6">
                <input type="text" class="form-control" [formControlName]="'bio'" name="bio" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="password" class="col-md-4 col-form-label text-md-right">Email:</label>
              <div class="col-md-6">
                <input type="text" class="form-control" [formControlName]="'email'" name="email" required>
              </div>
            </div>

            <span class="col-md-6 offset-md-4">
              <button type="submit" class="login">
                Change
              </button>
            </span>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
