<div class="col-md-2 reactionbox">
  <div class="d-flex flex-row">
    <div class="p-2">
      <fa-icon class="like fa-lg" [icon]="faThumbsUp" [style.color]="post.liked ? 'green':''" (click)="like()">
      </fa-icon>
    </div>
    <div class="p-2 reactioncount"><a class="reactions" ngbPopover={{arrayToString(post.usernameLikes)}}
        triggers="mouseenter:mouseleave">{{post.likes}}</a></div>
  </div>
  <div class="d-flex flex-row ">
    <div class="p-2">
      <fa-icon class="dislike fa-lg" [icon]="faThumbsDown" [style.color]="post.disliked ? 'red':''" (click)="dislike()">
      </fa-icon>
    </div>
    <div class="p-2 reactioncount"><a class="reactions" ngbPopover={{arrayToString(post.usernameDislikes)}}
        triggers="mouseenter:mouseleave">{{post.dislikes}}</a></div>
  </div>
</div>
